<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">產製條件</div>
      <div class="panel-body">
        <form role="form" class="form-horizontal" [formGroup]="condForm" novalidate (ngSubmit)="generateTest()">
          <div class="form-group" [ngClass]="{'has-error': getFieldInvalid('totalQuests')}">
            <label class="col-sm-2 control-label">題目數量</label>
            <div class="col-sm-2"><input class="form-control" type="number" min="10" max="25" readonly="true" formControlName="totalQuests" /></div>
            <div class="form-control-static" *ngIf="getFieldInvalid('totalQuests')">請輸入題目數量</div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': getFieldInvalid('totalScore')}">
            <label class="col-sm-2 control-label">題目總分</label>
            <div class="col-sm-2"><input class="form-control" type="number" min="100" max="100" readonly="true" formControlName="totalScore" /></div>
            <div class="form-control-static" *ngIf="getFieldInvalid('totalScore')">請輸入題目總分</div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': getFieldInvalid('cate_checked')}">
            <label class="col-sm-2 control-label">題目種類</label>
            <div class="col-sm-8" formArrayName="cate_checked">
              <div class="checkbox" *ngFor="let cate of condForm.controls['cate_checked'].controls; let i = index">
                <label>
                  <input type="checkbox" [formControlName]="i" />
                  <span class="form-control-static">{{ categories[i].desc }}</span>
                </label>
              </div>
              <div class="form-control-static" *ngIf="getFieldInvalid('cate_checked')">請勾選題目種類</div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': getFieldInvalid('questLevelForm')}">
            <label class="col-sm-2 control-label" style="padding-top: 12px">難度及數量</label>
            <div class="col-sm-4" formArrayName="questLevelForm">
              <div class="checkbox" *ngFor="let level of condForm.controls['questLevelForm'].controls; let i = index">
                <label class="form-inline" [formGroupName]="i">
                  <input class="form-control level-checkbox" type="checkbox" formControlName="level_checked" />
                  <span class="form-control-static">
                    {{ questLevels[i].desc }}
                    <input class="form-control level-amount" type="number" formControlName="level_number" min="0" max="25" />
                  </span>
                </label>
              </div>
              <div class="form-control-static" *ngIf="getFieldInvalid('questLevelForm')">請勾選難度及正確數量</div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 control-label">
              <button type="submit" class="btn btn-primary" [disabled]="condForm.invalid">產生試卷</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">試卷預覽</div>
      <div class="panel-body">
        <form role="form">
          <div class="form-group" *ngFor="let question of questions; let i = index; let last = last;">
            <label><pre>{{ i + 1 }}. {{ question.desc }}</pre></label>
            <div><em>({{ question.questLevel.desc }})</em></div>
            <div class="checkbox" *ngFor="let answer of question.answers">
              <label>
                <input type="checkbox" [checked]="answer.correct" onclick="return false;" />{{ answer.desc }}
              </label>
            </div>
            <hr *ngIf="!last"/>
          </div>
        </form>
      </div>
    </div>
  </div><!-- /.col-->
</div><!-- /.row -->
